<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.cgi" />
            </files>
        </defaultDocument>
        <handlers>
            <add name="EXE-CGI" path="*.exe" verb="*" modules="CgiModule" resourceType="File" />
        </handlers>
        <httpRedirect enabled="false" destination="http://www.1000.red" exactDestination="true" httpResponseStatus="Permanent" />
    </system.webServer>
</configuration>
